body{
    background-color:hsl(148, 38%, 91%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: hsl(187, 24%, 22%);
}
section{
    background-color: hsl(0, 0%,100%);
    height: auto;
    width: 30em;
    padding: 1em;
    border-radius: 10px;
    
}

#form{
    display:grid;
    gap: 30px;

}
#fname,#lname{
    height:2.5em;
    width:90%;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
    margin-top: 5px;

}
#email{
    height:2.5em;
    width: 100%;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
    margin-top: 5px;

}
.name-section{
    display: flex;
flex-direction: row;
justify-content: space-between;
}
label{
    color: hsl(187, 24%, 22%);
    font-size: 12px;

}
textarea{
    height:5em;
    width: 100%;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
    margin-top: 5px;
}
button{
    height: 3em;
    width:100%;
    background-color: hsl(169, 82%, 27%);
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%,100%);
    font-size: 16px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    outline: 2px solid  hsl(169, 51%, 38%);
  }
.required-field{
    color: hsl(0, 66%, 54%);
    font-size: 12px;
}
.valid-prompt{
    color: hsl(0, 66%, 54%);
    font-size: 12px;
    display: none;
}

@media screen and (max-width:480px){
    .name-section{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
}